nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-4) var(--space-12);
  background-color: var(--color-primary-dark);
}

main {
  padding: var(--space-6) var(--space-12);
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.nav-items {
  color: var(--color-bg-alt);
  font-size: var(--font-md);
  cursor: pointer;
  background-color: var(--color-secondary-light);
  color: var(--color-bg);
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--space-5);
  flex-grow: 1;
}

.board-child {
  flex-grow: 1;
  min-height: 80%;
  max-height: 80%;
  border-radius: var(--radius-md);
  padding: var(--space-fluid-md);
  background-color: var(--color-primary-dark);
  color: var(--color-bg);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  overflow-y: auto;
}
.board-child::-webkit-scrollbar {
  width: 3px;
}

.board-child::-webkit-scrollbar-track {
  background: transparent;
}

.board-child::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--radius-sm);
}

.board-child::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  background-color: var(--color-primary-light);
  padding: var(--space-fluid-sm);
  border-radius: var(--radius-sm);
  cursor: grab;
}
.card button {
  align-self: flex-end;
}

.card h3 {
  font-size: var(--font-md);
}
.card p {
  font-size: var(--font-sm);
}
.drag {
  transform: scale(1.05);
  border: 2px dashed var(--color-secondary-light);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 65, 65, 0.301);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.show-modal {
  display: flex;
}

.modal .modal-content {
  background-color: var(--color-bg);
  padding: var(--space-6);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: 300px;
  opacity: 0.96;
}

.modal .modal-content input,
textarea {
  padding: var(--space-3);
  border-radius: var(--radius-sm);
  font-size: var(--font-sm);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-sm);
  padding: var(--space-1) var(--space-3);
  color: var(--color-border);
}
